.password-fields{
    position: relative;
    width: 425px !important;
    height: 550px;
    display: flex;
    margin-left: 900px;
    margin-top: -400px;
}
.wrapper{
    display: flex;
    flex-direction: row;
}
.heading{
    color: #414141;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 300px;
    margin-left: 10px;
}
.form-label{
    font-size: 14px;
    margin-top:10px;
}
.form-control{
    padding: 3px;
    margin-bottom: -3px;
}
.change-password-button{
     width: 150px !important;
     border:none;
     background-color:#414141 ;
     border-radius: 5px;
     color: #f8f6f6;
     font-size: 15px;
     padding: 7px;
     margin-left: 10px;
     margin-bottom: 15px;
     margin-top: 18px;
}
.reset-image{
    padding: 0px 30px;
    margin-left: -350px;
    margin-top: 40%;
}
